# Dataset #
/dataset
/scripts/test

# Output #
/output

# Resource #
/lib/resource
/scripts/resource
/resource

# Lib #
/scripts/lib/

# Credentials #
/scripts/config.py

# Cache #
*/__pycache__/
*/*/__pycache__/
*/*.log
*/*.pyc
