# Dataset #
/dataset
/scripts/test

# Output #
/output

# Resource #
/lib/resource
/scripts/resource
/resource

# Lib #
/scripts/lib/

# Credentials #
/scripts/config.py

# Cache #
/query_builder/__pycache__/
/query_builder/*.log
/query_builder/*.pyc
